/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  color: black;
  font-size: 1.5rem;
  font-family: "Righteous", cursive;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
h2 {
  font-size: 1.4rem;
  font-weight: bolder;
}
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 500px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 800px) {
  .container {
    max-width: 1200px;
  }
}
header {
  background: #ec7357;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  text-align: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
header img {
  padding-left: 10px;
  width: 140px;
}
header nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 500px) {
  header nav {
    width: 40%;
  }
}
@media (min-width: 800px) {
  header nav {
    width: 30%;
  }
}
header nav a {
  padding: 4%;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
header nav a:hover {
  background: white;
  color: #ec7357;
  padding: 4%;
}
footer {
  height: 10%;
  background: #434341a3;
  padding-bottom: 2%;
}
footer .mini-nav {
  text-align: center;
  padding: 2%;
}
footer .mini-nav a {
  text-decoration: none;
  padding: 0 2%;
  color: white;
}
footer a {
  text-decoration: none;
  text-align: center;
}
footer p {
  font-size: 0.8rem;
  text-align: center;
  color: black;
}
main h1 {
  background: #ec7357;
  color: white;
  padding: 2% 0;
  padding-left: 2%;
  width: 100%;
  z-index: 1;
}
main .top-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .top-content .background-cont {
  width: 100%;
  min-height: 400px;
  background: url("https://media.gettyimages.com/photos/waitress-taking-orders-to-people-at-a-restaurant-picture-id506828094?k=6&m=506828094&s=612x612&w=0&h=gs_KmsQsI8DtJUR2-0Zdkp-ZCXKTIDDSkEUbonFJDJI=") center / cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  main .top-content .background-cont {
    background-position: 0 20%;
  }
}
main .top-content .background-cont .overlay-cont {
  width: 60%;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(220, 220, 220, 0.8);
}
main .top-content .background-cont .overlay-cont h1 {
  color: black;
  text-align: center;
  background: none;
  box-shadow: none;
}
main .top-content .background-cont .overlay-cont p {
  padding-left: 100px;
}
main .top-content .background-cont .overlay-cont button {
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  color: white;
  background: #94c9a9;
  font-size: 1.3rem;
}
main .top-content .background-cont .overlay-cont button:hover {
  cursor: pointer;
}
main .top-content .why-cont {
  width: 90%;
  background: white;
  margin-bottom: 3%;
}
@media (min-width: 800px) {
  main .top-content .why-cont {
    width: 100%;
    padding-right: 3%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
main .top-content .why-cont .box {
  padding: 2% 0;
  margin: 3% 0;
}
@media (min-width: 500px) {
  main .top-content .why-cont .box {
    width: 85%;
    padding: 0 3%;
  }
}
@media (min-width: 800px) {
  main .top-content .why-cont .box {
    width: 50%;
    padding: 0 1%;
  }
}
main .top-content .why-cont .box h2 {
  padding: 2% 5%;
  font-size: 1.5rem;
}
main .top-content .why-cont .box p {
  padding: 2% 5%;
}
main .top-content .why-cont .cont1 {
  transform: skewY(-2deg);
  background: #94c9a9;
}
@media (min-width: 500px) {
  main .top-content .why-cont .cont1 {
    margin-left: 15%;
  }
}
@media (min-width: 800px) {
  main .top-content .why-cont .cont1 {
    margin-left: 5%;
    transform: skewY(5deg);
  }
}
main .top-content .why-cont .cont1 .problem {
  transform: skewY(2deg);
}
@media (min-width: 800px) {
  main .top-content .why-cont .cont1 .problem {
    transform: skewY(-5deg);
    padding: 4% 0;
  }
}
main .top-content .why-cont .cont2 {
  transform: skewY(5deg);
  background: #f4d06f;
}
@media (min-width: 500px) {
  main .top-content .why-cont .cont2 {
    margin-left: 5%;
  }
}
@media (min-width: 800px) {
  main .top-content .why-cont .cont2 {
    transform: skewY(-3deg);
    width: 50%;
    margin-left: 52%;
    margin-top: -16%;
    padding-top: 3%;
    z-index: 1;
  }
}
main .top-content .why-cont .cont2 .problem2 {
  transform: skewY(-5deg);
}
@media (min-width: 800px) {
  main .top-content .why-cont .cont2 .problem2 {
    transform: skewY(3deg);
    padding: 4% 0;
  }
}
main .top-content .why-cont .cont3 {
  background: #777da7;
  transform: skewY(-4deg);
}
@media (min-width: 500px) {
  main .top-content .why-cont .cont3 {
    margin-left: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
@media (min-width: 800px) {
  main .top-content .why-cont .cont3 {
    margin-left: 10%;
    margin-top: -8%;
    width: 50%;
    transform: skewY(4deg);
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 5%;
  }
}
main .top-content .why-cont .cont3 .problem3 {
  transform: skewY(4deg);
}
@media (min-width: 800px) {
  main .top-content .why-cont .cont3 .problem3 {
    transform: skewY(-4deg);
  }
}
main .features h1 {
  width: 100%;
  z-index: 1;
}
main .features .feat-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  margin: 5% 0;
}
@media (min-width: 800px) {
  main .features .feat-cont {
    margin: 0 auto;
    width: 100%;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
main .features .feat-cont .fea-box {
  padding: 3%;
  width: 75%;
  margin: 3% 0;
  background: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  main .features .feat-cont .fea-box {
    width: 30%;
  }
}
main .features .feat-cont .fea-box .mask {
  color: #777da7;
}
main .features .feat-cont .fea-box .globe {
  color: #94c9a9;
}
main .features .feat-cont .fea-box .lemon {
  color: #f4d06f;
}
main .features .feat-cont .fea-box h2,
main .features .feat-cont .fea-box p {
  padding: 3%;
  text-align: center;
}
main .features .feat-cont .fea-box hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
